[flake8]
count = True
max-line-length = 100
max-doc-length = 100
exclude =
    .git,
    __pycache__,
    build,
    dist,
    node_modules,
    venv,
    .mypy_cache,
    tests/projects,
    tests/outcomes/**/main*.py,
    tests/outcomes/**/cleaning.py,
    tests/outcomes/**/pandas_*.py,
    tests/outcomes/**/matplotlib_*.py,
    tests/outcomes/**/seaborn_*.py
ignore =
    # visually indented line with same indent as next logical line
    E129,
    # W504 line break after binary operator line break after binary operator
    W504
