name: 'Prepare environment'
description: 'Prepare environment'

runs:
  using: "composite"
  steps:
    - name: Install Poetry
      run: pipx install poetry==$(head -n 1 .poetry-version)
      shell: bash

    - uses: actions/setup-python@v5
      with:
        python-version-file: '.python-version'
        cache: 'poetry'

    - name: Install dependencies
      run: poetry install --no-interaction --no-ansi --no-root --sync
      shell: bash
