name: CI

on:
  push:
    branches:
      - 'master'
      - 'release'
  pull_request:

jobs:
  lint:
    name: Lint with ruff
    runs-on: [ self-hosted, small ]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/workflows/actions/prepare

      - name: Check files using the ruff formatter
        run: poetry run ruff --fix --unsafe-fixes --preview .

  mypy:
    name: Static Type Checking
    runs-on: [ self-hosted, small ]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/workflows/actions/prepare

      - name: Mypy
        run: poetry run mypy .

  test-ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - [ self-hosted, small ]
          - windows-latest
          - macos-latest
        python-version: [ "3.10", "3.11", "3.12" ]
    steps:
      - uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry==$(head -n 1 .poetry-version)

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install --only main,dev --no-interaction --no-ansi

      - name: Run unittests
        run: python tests/testing.py
